body {
    font-family: sans-serif;
    /*background-color: lightgrey;*/
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.Container
 {
margin: 0px;
color: #FF9800;
Font-Family: Times New Roman;
font-size: 30;
padding-top: 50px;
padding-right: 30px;
padding-left: 500px;
}

